:root {
  --main-background-color: #e5e5e5;
  --main-black-color: #212121;
  --main-white-color: #ffffff;
  --text-color: #757575;
  --logo-hover-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}

/* HEADER */

.header {
  background-color: var(--main-white-color);
}
.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header .logo-web {
  width: 145px;
  height: 31;
  margin-right: 93px;
}
/* логотип */

.logo-web,
.logo-studio-hdr,
.logo-studio-ftr {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-hover-color);
  text-decoration: none;
}
.logo-studio-hdr {
  color: var(--main-black-color);
}
.logo-studio-ftr {
  color: var(--main-white-color);
}
/* навигация */

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list .items {
  margin-right: 50px;
}
.nav-list .items:last-child {
  margin-right: 0;
}
/* можно сделать одну запись, вместо двух, которые сверху:
.nav-list .items:not(:last-child) {
  margin-right: 50px;
}*/
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--logo-hover-color);
}
/* контакты */

.header-contact {
  display: flex;
  margin-left: auto;

  list-style: none;
}
.header-contact .list {
  margin-right: 50px;
}
.header-contact .list:last-child {
  margin: 0;
}
.header-contact .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.header-contact .link:hover,
.header-contact .link:focus {
  color: var(--logo-hover-color);
}

/* MAIN */

/*страница СТУДИЯ */

/* секция HERO */

.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.hero-button {
  padding: 10px 32px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--logo-hover-color);
  color: var(--main-white-color);
  cursor: pointer;
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-white-color);
  color: var(--logo-hover-color);
}
/* секция BEST */

.best,
.services {
  background-color: var(--main-background-color);
}
.best-title {
  text-align: center;
}
.best-list {
  display: flex;
  list-style: none;
}
.best-list .items:not(:last-child) {
  margin-right: 30px;
}
.best-list .list-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-black-color);
}
.best-list .list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* секция SERVICES */

.sevices-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.services-list {
  display: flex;

  list-style: none;
}
.services-list .items:not(:last-child) {
  margin-right: 30px;
}
/* секция TEAM */

.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;

  list-style: none;
}
.team-list .items:not(:last-child) {
  margin-right: 30px;
}
.team-list .list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
}
.team-list .list-img {
  margin-bottom: 30px;
}
.team-list .list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* страница ПОРТФОЛИО */

.portfolio {
  background-color: var(--main-background-color);
}
.portfolio-title {
  text-align: center;
  margin-bottom: 8px;
}
/* кнопки */

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  list-style: none;
}
.portfolio-buttons .list:not(:last-child) {
  margin-right: 8px;
}
.portfolio-buttons .button-item {
  padding: 6px 22px;
  text-align: center;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--main-black-color);
  cursor: pointer;
}
.portfolio-buttons .button-item:hover,
.portfolio-buttons .button-item:focus {
  background-color: var(--logo-hover-color);
  color: var(--main-white-color);
}
/* список работ */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}
.portfolio-items {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-items:nth-child(3n) {
  margin-right: 0;
}
.portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}
.portfolio-items .list-img {
  margin-bottom: 20px;
}

.portfolio-list .list-title {
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-black-color);
}

.portfolio-list .list-text {
  width: 322px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* FOOTER */
.footer {
  background-color: #2f303a;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
/*  логотип */

.footer .logo-web {
  display: inline-block;
  width: 145px;
  height: 31;
  margin-bottom: 20px;
}
/* адрес и контакты */

.address-links {
  list-style: none;
}
.address-links .items:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address .map,
.footer-address .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  text-decoration: none;
}
.footer-address .contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address .contact:hover,
.footer-address .contact:focus {
  color: var(--logo-hover-color);
}
